a {
	color:white;
	text-decoration: none;
}

/*################################################
#					Hero Section				#
################################################*/

.hero {
	min-height: 400px;
	font-family: lato;
	color: white;
	background: -webkit-radial-gradient(center, ellipse cover, rgba(30,87,153,0.4) 0%,rgba(0,171,185,0.7) 100%), url('Images/bg.jpg');
	
}

header {
	height: 150px;
	width: 960px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.logo {
	position: absolute;
	top: 10px;
	left: 10px;
	font-family: Lobster;
	font-size: 48px;
}

.searchbar {
	position: absolute;
	top: 20px;
	right: 0;
} 

.searchbar input {
	background-color: rgba(0,0,0,0);
	border: 1px solid #ddd; 
	padding: 5px;
}

.searchbar button {
	background-color: #F54B1B;
	border: 1px solid #F54B1B;
	border-radius: 5px;
}

nav {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	border-top: 1px solid rgba(255,255,255,0.7);
	border-bottom: 1px solid rgba(255,255,255,0.7);
}

nav > a {
	display: inline-block;
	padding: 15px;
	text-transform: uppercase;

}

.blankspace {
	height: 500px;
	width: 960px;
	text-align: center;
	margin: 0 auto;
	position: relative;
}

.blankspace div {
	position: absolute;
	bottom: 30px;
	right: 0;
	left: 0;
	height: 100px;
	padding: 10px;
}

.blankspace h1 {
	margin-top: 0;
}

.blankspace h1 > span {
	font-weight: 300;
}

/*################################################
#					Main Area					#
################################################*/

main {
	background-color: #D6E1E7;
	min-height: 500px;
	font-family: lato;
}

.breakouts {
	width: 960px;
	min-height: 40px;
	text-align: center;
	margin: 0 auto;
}

.breakouts div {
	background-color: #fff;
	height: 170px;
	width: 290px;
	display: inline-block;
	margin: 0 auto;
	margin-left: 10px;
	margin-right: 10px;
	transform: translatey(-20px);
	position: relative;
	box-shadow: 0 0 5px 0 #999;
}

.breakouts div:nth-child(1) {
	border-top: 4px solid #F54B1B;
}

.breakouts div:nth-child(1) button {
	border: 2px solid #F54B1B;
	background-color: #fff;
	color: #F54B1B;
	border-radius: 5px;
}

.breakouts div:nth-child(2) {
	border-top: 4px solid #82D154;	
}

.breakouts div:nth-child(2) button {
	border: 2px solid #82D154;
	background-color: #fff;
	color: #82D154;
	border-radius: 5px;
}

.breakouts div:nth-child(3) {
	border-top: 4px solid #0092D0;
}

.breakouts div:nth-child(3) button {
	border: 2px solid #0092D0;
	background-color: #fff;
	color: #0092D0;
	border-radius: 5px;
}


/*################################################
#				Left Side Section				#
################################################*/

.main-content {
	background-color: #fff;
	width: 960px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	min-height: 500px;
	overflow: hidden;
	box-shadow: 0 0 5px 0 #999;
}

aside {
	background-color: #fff;
	float: left;
	min-height: 400px;
	width: 400px;
}

.media-object {
	background-color: #E7F3F9;
	overflow: hidden;
	margin: 10px;
}

.media-object img {
	width: 70px;
	height: 70px;
	background-color: blue;
	float: left;
}

.comment {
	padding: 5px;
	margin-left: 80px;
	text-align: left;
}

.comment :first-child {
	font-size: 20px;
	color: #0092D0;
}

/*################################################
#					Gallery						#
################################################*/

.gallery {
	background-color: #fff;
	margin-left: 400px;
	min-height: 600px;
}

.tile {
	display: inline-block;
	margin: 10px;
	width: 150px;
	background-color: rgba(130,209,84,0.25);
	text-align: left;
	vertical-align: top;
}

.tile > img {
	width: 150px;
	height: 150px;
	display: block;
}

.tile div {
	background-color: #82D154; 
	padding-left: 5px;
}
